################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts =
    part
versions = versions
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[libsdl]
location=${buildout:directory}/../../dependencies/libsdl-1.2/parts/part
[freetype]
location=${buildout:directory}/../../dependencies/freetype-2.3/parts/part
[part]
recipe = minitage.recipe.cmmi
url =http://www.antigrain.com/agg-2.5.tar.gz
md5sum = 0229a488bc47be10a2fee6cf0b2febd6
gmake=True
pre-configure-hook=${buildout:directory}/hooks/libtool.py:lt
configure=autogen.sh
configure-options=--without-x --with-sdl-prefix=${libsdl:location} --disable-examples
includes=
    ${freetype:location}/include/freetype2
    ${libsdl:location}/include/SDL
patches-cygwin=
        ${buildout:directory}/2.5-agg_main.patch
        ${buildout:directory}/2.5-no-undefined.patch
# from https://cygwin-ports.svn.sourceforge.net/svnroot/cygwin-ports/ports/trunk/graphics/agg

patch-options=-Np2

